@import './authentication/authentication';
@import './commons/components/overlay/overlay';
@import './commons/components/modal/modal';

.blind {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	
	> a {
		text-decoration: none;
		color: #fff;
	}
}

.logo {
	width: 180px;
}

.btn-submit {
	width: 100%;
}

.dashboard {
	position: relative;
}

.months {
	list-style: none;
	text-align: center;
	margin-top: 10px;

	> li {
		display: inline-block;
		padding: 5px;
		border-right: 1px solid #CCC;
		cursor: pointer;

		&.selected {
			font-weight: bold;
		}

		&:last-child {
			border: none;
		}
	}
}

.container {
	margin-top: 20px;

	.add-ids-btn {
		float: right;
		margin: 10px 0;
	}
}