@import './authentication/authentication';
@import './commons/components/overlay/overlay';
@import './commons/components/modal/modal';

.blind {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    
    > a {
    	text-decoration: none;
    }
}

.btn-submit {
	width: 100%;
}

.dashboard {
	position: relative;
}
