@import './authentication/authentication';
@import './commons/components/overlay/overlay';

.blind {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.dashboard {
	position: relative;
}
