.authenticate-box {
	width: 350px;
	margin: 150px auto;
	padding: 10px;

	.center-text {
		text-align: center;
	}

	.forgot-password {
		cursor: pointer;
	}

	.back-to-login {
		cursor: pointer;
		margin-top: 10px;
	}

	.toggle-display {
		text-align: right;
		margin-top: 10px;
		cursor: pointer;
	}
}